<extend name="Public::base"/>
<block name="headjs">
<style>
	.middleDiv{
		height: 34px;
		line-height: 34px;
		text-align: center;
	}
 	.form_datetime input{
		height: 34px;
		width:242.7px;
	} 
</style>

<link href="__PUBLIC__/css/bootstrap-datetimepicker.css" rel="stylesheet" />
</block>

<block name="body">

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">部门日志列表</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
            	
            	<div class="table-toolbar ">
            		<div class="row">
            			<div class="col-sm-12">
	            			<div class="row">
		            
			            		<div class = "col-sm-2">
			     	   	            <div class="search-box" >
				                		<div style="display: inline;">        			
				                			<span class="input-icon">
				                				<input type="text" value="{$synopsis}" class="form-control" id="synopsis" placeholder="请输入摘要">
				                				<i class="glyphicon glyphicon-search circular blue"></i>
				                			</span>
				                		</div>
				                	</div>	
			            		</div>
					   	          <div class="search-box col-sm-3" >
				                    <div class="form-group">
				                        <div class="controls">
				                            <div class="input-group">
				                                <span class="input-group-addon">
				                                    <i class="fa fa-calendar"></i>
				                                </span>
				                                <input readonly="readonly" type="text" value="{$searchTime}" class="form-control" id="searchTime" placeholder="请选择时间区间" />
				                            </div>
				                        </div>
				                    </div> 
			                	</div>	
					   	          <div class="search-box col-sm-2" >
				                    <div class="form-group">
				                        <div class="controls">
				                        
				                   			 <select style="width:100%;" name="workType" id="workType" >
				                   			 		<option value=""  />全部
					                      		 <foreach name="workTypeList" item="value" key='k' >
					                      		 
					                       			<option value="{$k}" {$workTypeSelect[$k]}  />{$value}
					                      		 </foreach>
					                 		</select>
				                        </div>
				                    </div> 
			                	</div>	
			                	<div class="col-sm-1">
	          						<a class="btn default-btn" id="search" >查询</a>
			            		</div>
			                	<div class="col-sm-2">
	          						<!-- <a class="btn default-btn" id="showAddWork" >创建日志</a> -->
			            		</div>
		            		</div>
		        
		            	</div>
          	
		            </div>
            	</div>
            
          		<table class="table table-striped table-hover table-bordered" id="editabledatatable">
                    <thead>
                        <tr role="row">
     
                            <th>序号 </th>
                            <th>提交时间</th>
                            <th>日报类别</th>
                            <th>摘要</th>
                            <th>得分</th>
                            <th>操作</th>

                        </tr>
                    </thead>

                    <tbody id="worklistTable">
                    	<foreach name="list" item="vo" key="key">
                        <tr>
            
                            <td>{$key+1}</td>
                            <td>{$vo.ctime}</td>
                            <td>{$vo.worktype}</td>
                            <td>{$vo.synopsis}</td>
                            <td>{$vo.score}</td>
                            <td>
                            	<a href="#"  work-id='{$vo.id}' class="btn btn-info btn-xs edit show_set_score"><i class="fa fa-edit"></i>打分</a>
                               <!--  <a href="#"  work-id='{$vo.id}' class="btn btn-info btn-xs edit showEditWork"><i class="fa fa-edit"></i>编辑</a>
      					        <a href="#"  work-id='{$vo.id}' class="btn btn-danger btn-xs delete delWork"><i class="fa fa-trash-o"></i>删除</a>   -->     	
                            </td>
         
                        </tr>
                        </foreach>                        
                    </tbody>
                </table><br/>
                <div class="row DTTTFooter">
					<div class="col-sm-6">
						<div class="dataTables_info" id="simpledatatable_info" role="alert" aria-live="polite" aria-relevant="all"></div>
					</div>
					<div class="col-sm-8 pull-right">
						<div class="dataTables_paginate paging_bootstrap" id="simpledatatable_paginate">
							<ul class="pagination" id="pageUl">
								{$page}
							</ul>
						</div>
					</div>				
            	</div>
            </div>   	
        </div>
    </div>
</div>


    <!--  给日志打分  -->
    <div id="set_score_modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
       <div class="modal-dialog modal-lg">
           <div class="modal-content">

               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                   <h4 class="modal-title" id="mySmallModalLabel">工作日志打分</h4>
               </div>
               <div class="modal-body"> 
                  <!--未开户成功用户接单记录表开始  -->
              	   <div class="widget">
			       <div class="widget-header ">
			           <span class="widget-caption"></span>
		               <div class="widget-buttons">
		                    <a href="#" data-toggle="maximize">
		                        <i class="fa fa-expand"></i>
		                    </a>
		                    <a href="#" data-toggle="collapse">
		                        <i class="fa fa-minus"></i>
		                    </a>
		                    <a href="#" data-toggle="dispose">
		                        <i class="fa fa-times"></i>
		                    </a>
		                </div>
			       </div>
		           <div class="widget-body">
						<div id='dimension_table'>
						</div>
	
               		</div>
               	</div>

               	<!--未开户成功用户接单记录表结束  -->
                  
               	<div class="row" id="reply_record_div">
					<div class="col-sm-2">
						
						<a href="#"   id='save_set_score' class="btn btn-info edit">保存</a>
						<span></span>
					</div>
				</div>
               </div>
			<div class="modal-footer">

			</div>			                
           </div>
       </div>
   </div>
  	<!--  给日志打分  -->
 



</block>


<block name="footjs">
<!--Basic Scripts-->
<script src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/datetime/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/js/datetime/bootstrap-timepicker.js"></script>
<script src="__PUBLIC__/js/datetime/bootstrap-datetimepicker.js"></script>

<!--Beyond Scripts-->
<script src="__PUBLIC__/js/beyond.min.js"></script>
<script src="__PUBLIC__/js/datetime/moment.js"></script>
<script src="__PUBLIC__/js/datetime/daterangepicker.js"></script>
<script src="__PUBLIC__/js/select2/select2.js"></script>
<script type="text/javascript">

$(function(){
	//dimension
	
	var data = {'type':'getDimensionList'};

	$.ajax({
		url:"__APP__/WorkManage/Work/getDimensionList",
		type:"GET",
		data:data,
		dataType:'json',
		success:function(data){
			data = data.data;
			var html = '';
			$.each(data,function(k,v){
				    var num = k + 1;
					html += "<div class='row'>";
					html += "<div class='col-sm-2'>";
					html += "<span>"+num+"、    </span>";
					html += "<span>"+v.name+"</span>";
					html += "</div>";
					html += "<div class='search-box col-sm-6'>";
			
		   	      
					html += '<div class="form-group">';
					html += '<div class="controls">';
				
					html += ' <input type="text"   class="form-control get_score" data-id='+v.id+' id="set_score_'+v.id+'" placeholder="请输入合适的分数(百分制)" />';
			
					html += ' </div>';
					html += '</div> ';
           
					html += "</div>";
					html += "</div>";
			});
			
			

			$("#dimension_table").html(html);
		}
	});
});

$('#save_set_score').click(function(){
	var work_id = $(this).attr('work-id');
	var noparamer = false;
	var dimension_data = [];
	$.each($('.get_score'),function(k,v){
	
		var dimension_id = "" + $(v).attr('data-id') + "";
		var demension_value = $(v).val();
		if((!dimension_id)||(!demension_value)){
			noparamer = true;
			
		}
		dimension_data[k] = dimension_id + '__' +demension_value;
	});

	if(noparamer){
		alert('有没有打分的选项');
		return false;
	}
	
	var data = {'work_id':work_id,'dimension_data':dimension_data,'type':'set_score'};
	console.log(data);
	$.ajax({
		url:"__APP__/WorkManage/Work/set_score",
		type:"GET",
		data:data,
		dataType:'json',
		success:function(data){
			alert(data.message);
			if('0' == data.status){
				$('#set_score_modal').modal('hide');
			}
		}
	});
	
	
});


$(function(){

	$(".form_datetime").datetimepicker({
	//	format:'yyyy-mm-dd-hh-ii-ss'
	});

	//$("#endTime").datetimepicker();	
	$("#searchTime").daterangepicker({
		format:"YYYY-MM-DD",
		separator : '__',
		locale:{
			applyLabel:"确定",
			cancelLabel:"取消",
			fromLabel:"从",
			toLabel:"到"
		}
	});
	
	$("#workType,#workType2").select2();
});

$("#search").click(function(){

	var synopsis = $("#synopsis").val();
	var searchTime = $("#searchTime").val();
	var workType = $("#workType").val();
	
	var data = {"synopsis":synopsis
			,"searchTime":searchTime
			,"workType":workType
			,"type":'workList'
			,"show":'my'
		};
	
	$.ajax({
		url:"__APP__/WorkManage/Work/worklist",
		type:"GET",
		data:data,
		dataType:'json',
		success:function(data){
			var html = "";
			var show = data.show;
			$("#pageUl").html(show);
			$.each(data.list,function(k,v){
			
				var num = k+1;

				html += "<tr>";
				html += "<td>"+num+"</td>";
				html += "<td>"+v.ctime+"</td>";
				html += "<td>"+v.worktype+"</td>";
				html += "<td>"+v.synopsis+"</td>";
				html += "<td>"+v.score+"</td>";
				html += "<td>";                                        
				html += "<a href='#'  work-id='"+v.id+"' class='btn btn-info btn-xs edit show_set_score'><i class='fa fa-edit'></i>打分</a>";
				//html += "<a href='#'  work-id='"+v.id+"' class='btn btn-info btn-xs edit showEditWork'><i class='fa fa-edit'></i>编辑</a>";
				//html += "<a href='#'  work-id='"+v.id+"' class='btn btn-danger btn-xs delete delWork'><i class='fa fa-trash-o'></i>删除</a> ";
				html += "</td>";
				html += "</tr>";
						
			});
			
			$("#worklistTable").html(html);
		}
		
	});	
	
});




$('body').on('click','.show_set_score',function(){

	var work_id = $(this).attr('work-id');
	if(!work_id){
		alert('参数缺失');
		return false;
	}
	$('#save_set_score').attr('work-id',work_id);
	$('#set_score_modal').modal(true);

});




$('#add_reply_record_btn').click(function(){
	$('#editWorkDetailModal').modal(true);
});



//新增工作日志
$('#savework').click(function(){
	
	var workType2 = $('#workType2').val();
	var work_synopsis2 = $('#work_synopsis2').val();
	
	if(!workType2 || !work_synopsis2){
		alert('参数缺失');
		return false;
	}
	
	var data = {'workType':workType2,'synopsis':work_synopsis2,'type':'addwork'};
	$.ajax({
		url:"__APP__/WorkManage/Work/addwork",
		type:"GET",
		data:data,
		dataType:'json',
		success:function(data){
			alert(data.message);
			if('0' == data.status){
				var work_id = data.data;
				$('#savework_edit').attr('work_id',work_id);
				$('#add_workdetail').attr('work_id',work_id);
				$('#show_addworkmodal').attr('work_id',work_id);
				$('#savework').hide();
				$('#savework_edit').show();
			}
		},
		error:function(){
			alert('服务器忙,请稍后再试！');
		}
		
	}); 
	
});
//编辑工作日志
$('#savework_edit').click(function(){
	var workType2 = $('#workType2').val();
	var work_synopsis2 = $('#work_synopsis2').val();
	var work_id = $('#savework_edit').attr('work_id');
	if(!workType2 || !work_synopsis2 || !work_id){
		alert('参数缺失');
		return false;
	}
	var data = {'workType':workType2,'synopsis':work_synopsis2,'work_id':work_id,'type':'savework'};
	$.ajax({
		url:"__APP__/WorkManage/Work/savework",
		type:"GET",
		data:data,
		dataType:'json',
		success:function(data){
			alert(data.message);
		},
		error:function(){
			alert('服务器忙,请稍后再试！');
		}
		
	}); 	
	
});


//显示modal  工作日志详情
$('#show_addworkmodal').click(function(){
	var work_id = $('#savework_edit').attr('work_id');
	if(!work_id){
		alert('请确保您已经保存了工作日志');
		return false;
	}
	$('#addWorkDetailModal').modal(true);

});
//新增工作内容详情
$('#add_workdetail').click(function(){
	var workdetail_content = $('#workdetail_content').val();
	var workdetail_userDtm = $('#workdetail_userDtm').val();
	var work_id = $('#add_workdetail').attr('work-id');
	var data_type = $('#add_workdetail').attr('data-type');
	
	if(!workdetail_content || !workdetail_userDtm ){
		alert('参数缺失');
		return false;
	}
	window.num = 1;
	var data = {'workdetail_content':workdetail_content,'workdetail_userDtm':workdetail_userDtm,'work_id':work_id,'type':'add_workdetail'};
	$.ajax({
		url:"__APP__/WorkManage/Work/add_workdetail",
		type:"GET",
		data:data,
		dataType:'json',
		success:function(data){
			console.log(data);
			alert(data.message);
			if(data.status == '0'){

				var html = "";
				html += " <tr id ='work_detail_tr_"+data.data+"'> ";
				html += " <td>"+window.num+"</td> ";
				html += " <td>"+workdetail_content+"</td> ";
				html += " <td>"+workdetail_userDtm+"</td> ";
				html += " <td>";
				html += "<a href='#' num='"+window.num+"'  work-detail-id='"+data.data+"' workdetail_content='"+workdetail_content+"' workdetail_userDtm='"+workdetail_userDtm+"' class='btn btn-info btn-xs edit showEditWorkdetail'><i class='fa fa-edit'></i>编辑</a> ";
				html += "<a href='#'  work-detail-id='"+data.data+"' class='btn btn-danger btn-xs delete delWorkdetail'><i class='fa fa-trash-o'></i>删除</a> ";
				html += " </td>";
				html += " </tr> ";
				window.num ++;
				if('edit'== data_type){
					$('#editWorkModal #workdetaillistTable').append(html);
				}else{
					$('#workdetaillistTable').append(html);
				}
				
				$('#addWorkDetailModal').modal('hide');
			}
		},
		error:function(){
			alert('服务器忙,请稍后再试！');
		}
		
	}); 
	
	
	
});

//添加工作日志的显示编辑的功能
$('body').on('click','.showEditWorkdetail',function(){
	var work_detail_id = $(this).attr('work-detail-id');
	var num = $(this).attr('num');
	var workdetail_userDtm = $(this).attr('workdetail_userDtm');
	var workdetail_content = $(this).attr('workdetail_content');
	var a = $(this).parent().parent();
	
	if(!work_detail_id){
		alert('参数缺失');
		return false;
	}
	var data = {'work_detail_id':work_detail_id,'type':'get_workdetail'};
	$.ajax({
		url:"__APP__/WorkManage/Work/get_workdetail",
		type:"GET",
		data:data,
		dataType:'json',
		success:function(data){
			console.log(data);
			alert(data.message);
			
			if('0' == data.status){
				var data = data.data;
				$('#addWorkDetailDetailModal #workdetail_userDtm').val(data.userdtm);
				$('#addWorkDetailDetailModal #workdetail_content').val(data.content);
				$('#addWorkDetailDetailModal #save_workdetail').attr('work_detail_id',data.id);
				$('#addWorkDetailDetailModal #save_workdetail').attr('num',num);
	
				
			}
	
		},
		error:function(){
			alert('服务器忙,请稍后再试！');
		}
		
	}); 
	

	$('#addWorkDetailDetailModal').modal(true);
	
});
//添加工作日志中保存编辑的功能
$('#addWorkDetailDetailModal').on('click','#save_workdetail',function(){
	var work_detail_id = $(this).attr('work_detail_id');
	var num = $(this).attr('num');
	var workdetail_userDtm = $('#addWorkDetailDetailModal #workdetail_userDtm').val();
	var workdetail_content = $('#addWorkDetailDetailModal #workdetail_content').val();

	if(!work_detail_id||!workdetail_userDtm||!workdetail_content){
		alert('参数缺失');
		return false;
	}
	var data = {'work_detail_id':work_detail_id,'workdetail_userDtm':workdetail_userDtm,'workdetail_content':workdetail_content,'type':'save_workdetail'};
	$.ajax({
		url:"__APP__/WorkManage/Work/save_workdetail",
		type:"GET",
		data:data,
		dataType:'json',
		
		success:function(data){
			alert(data.message);
			var html = "";
			html += " <td>"+num+"</td> ";
			html += " <td>"+workdetail_content+"</td> ";
			html += " <td>"+workdetail_userDtm+"</td> ";
			html += " <td>";
			html += "<a href='#'  num='"+num+"' work-detail-id='"+work_detail_id+"' workdetail_content='"+workdetail_content+"' workdetail_userDtm='"+workdetail_userDtm+"' class='btn btn-info btn-xs edit showEditWorkdetail'><i class='fa fa-edit'></i>编辑</a> ";
			html += "<a href='#'  work-detail-id='"+data.data+"' class='btn btn-danger btn-xs delete delWorkdetail'><i class='fa fa-trash-o'></i>删除</a> ";
			html += " </td>";
			var dom = $('#work_detail_tr_'+work_detail_id);			
			dom.html(html);
		},
		error:function(){
			alert('服务器忙,请稍后再试！');
		}
		
	}); 
});

//删除工作内容
$('body').on('click','.delWorkdetail',function(){
	var work_detail_id = $(this).attr('work-detail-id');
	var a = $(this).parent().parent();

	
	if(!work_detail_id){
		alert('参数缺失');
		return false;
	}
	var data = {'work_detail_id':work_detail_id,'type':'delWorkdetail'};
	$.ajax({
		url:"__APP__/WorkManage/Work/delWorkdetail",
		type:"GET",
		data:data,
		dataType:'json',
		success:function(data){
			alert(data.message);
			a.remove();
		},
		error:function(){
			alert('服务器忙,请稍后再试！');
		}
		
	}); 	
	
	
})
//保存修改工作日志
$('#editwork_btn').click(function(){
	var synopsis = $('#editWorkModal #work_synopsis').val();
	var work_id = $(this).attr('work_id');

	if(!work_id || !synopsis){
		return false;
	}
	var data = {'work_id':work_id,'synopsis':synopsis,'type':'savework'};
	$.ajax({
		url:"__APP__/WorkManage/Work/savework",
		type:"GET",
		data:data,
		dataType:'json',
		success:function(data){
			alert(data.message);
		
		},
		error:function(){
			alert('服务器忙,请稍后再试！');
		}
		
	}); 	
	
});

$('#show_addworkdetailmodal').click(function(){
	$('#addWorkDetailModal').modal(true);
	var work_id =  $(this).attr('work_id');
	$('#add_workdetail').attr('work-id',work_id);
	$('#add_workdetail').attr('data-type','edit');

});

$('#addWorkModal,#editWorkModal').on('hide.bs.modal', function () {
    location.reload();
});
</script>


</block>