<extend name="Public:base"/>


<block name="body">


<div class="row">
	<div class="col-xs-12 col-md-12">
	        <div class="widget">
	            <div class="widget-header ">
	                <span class="widget-caption">录音记录列表</span>
	                <div class="widget-buttons">
	                    <a href="#" data-toggle="maximize">
	                        <i class="fa fa-expand"></i>
	                    </a>
	                    <a href="#" data-toggle="collapse">
	                        <i class="fa fa-minus"></i>
	                    </a>
	                    <a href="#" data-toggle="dispose">
	                        <i class="fa fa-times"></i>
	                    </a>
	                </div>
	            </div>
	            <div class="widget-body">
	      			<div class="table-toolbar row ">
	      				<div class="col-sm-8">
		      				<div class="table-toolbar row">
			   	                <div class="search-box col-sm-6" >
				                    <div class="form-group">
				                        <div class="controls">
				                            <div class="input-group">
				                                <span class="input-group-addon">
				                                    <i class="fa fa-calendar"></i>
				                                </span>
				                                <input type="text" value="{$searchMtimeRange}" class="form-control" id="searchMtimeRange" placeholder="请选择需要统计的时间区间" />
				                            </div>
				                        </div>
				                    </div> 
			                	</div>	                    
			   	                <div class="search-box col-sm-6" >
			                		<div>
			                			<span class="input-icon">
			                				<input type="text" value="{$searchRealName}" id='searchRealName' class="form-control"  placeholder="请输入客户姓名">
			                				<i class="glyphicon glyphicon-search circular blue"></i>
			                			</span>
			                		</div>
			                	</div>	                                      
		                	</div>
		      				<div class="table-toolbar row" >
			   	                <div class="search-box col-sm-6" >
			                		<div>
			                			<span class="input-icon">
			                				<input type="text" value="{$searchNickname}" id='searchNickname' class="form-control"  placeholder="请输入对接人姓名">
			                				<i class="glyphicon glyphicon-search circular blue"></i>
			                			</span>
			                			
			                		</div>
			                	</div>	                    
			   	                <div class="search-box col-sm-6" >
			                		<div>
			                			<span class="input-icon">
			                				<input type="text" value="{$searchMobileNo}" id='searchMobileNo' class="form-control"  placeholder="请输入客户手机号">
			                				<i class="glyphicon glyphicon-search circular blue"></i>
			                			</span>
			                		</div>
			                	</div>	                                      
		                	</div>
	               	 	</div>
	                <div class="table-toolbar row">
		                <div class='col-sm-4'>
			      			<div class="table-toolbar row">                 
			      			</div>
			      			<div class="table-toolbar row">                 
			   	                <div class="search-box col-sm-12" >
			                		<div>
			                			
			               				<a class='btn btn-default' id="tapeListSearch">搜索</a>
			                	
			                		</div>
			                	</div>	                    
			                </div>
			        	 </div>
		        	 </div>
		        </div>
	                <table class="table table-striped table-hover table-bordered" id="editabledatatable">
	                    <thead>
	                        <tr role="row">
	                            <th>序号</th>
	                            <th>时间</th>
	                            <th>对接人姓名</th>
	                      
	                            <th>主叫者</th>
	                            <th>被叫者</th>	
	                            <th>客户姓名</th>	
	                            <th>呼入呼出</th>                      
	                            <th>录音</th>
	
	                        </tr>
	                    </thead>
	
	                    <tbody id="tapeListTable">
	                     <audio class="audio_class" controls="controls" src="" id = "audio_id" preload="preload"> </audio>
	                    	<foreach name="tapeList" item="vo" key="key">
	                        <tr>

	                            <td>{$key+1}</td>
	                            <td>{$vo.pc_call_time}</td>	                            
	                            <td>{$vo.pc_user_name}</td>
	                          	                          
	                            <td>{$vo.pc_caller_num}</td>
	                            <td>{$vo.pc_callee_num}</td>
	                            <td>{$vo.realname}</td>
	                            <td> {$vo.pc_direction} </td> 
	                          
	                            <td>
	                            <a class ="openvocfile" data-ip="{$vo.ip}" data-cert="{$vo.cert}" data-nonce="{$vo.nonce}" data-msg ="{$vo.msg}" target="__blank" href="javascript:void(0);">播放</a>
	                            </td>
	
	                        </tr>
	                        </foreach>                        
	                    </tbody>
	                </table><br/>
               <div class="row DTTTFooter">
					<div class="col-sm-6">
						<div class="dataTables_info" id="simpledatatable_info" role="alert" aria-live="polite" aria-relevant="all"></div>
					</div>
					<div class="col-sm-8 pull-right">
						<div class="dataTables_paginate paging_bootstrap" id="simpledatatable_paginate">
							<ul class="pagination" id="pageUl">
								{$page}
							</ul>
						</div>
					</div>				
            	</div>  
            	
            	
	   
	            									
	        </div>
	    </div>
	</div>
</div>


</block>

<block name="footjs">
<!--Basic Scripts-->
<script src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<!--Beyond Scripts-->
<script src="__PUBLIC__/js/beyond.min.js"></script>
<script src="__PUBLIC__/js/select2/select2.js"></script>  

<!--Bootstrap Date Picker-->
<script src="__PUBLIC__/js/datetime/bootstrap-datepicker.js"></script>

<!--Bootstrap Time Picker-->
<script src="__PUBLIC__/js/datetime/bootstrap-timepicker.js"></script>

<!--Bootstrap Date Range Picker-->
<script src="__PUBLIC__/js/datetime/moment.js"></script>
<script src="__PUBLIC__/js/datetime/daterangepicker.js"></script>

<script type="text/javascript">
  $(function(){
		$("#searchMtimeRange").daterangepicker({
			format:"YYYY-MM-DD",
			separator : '__',
			locale:{
				applyLabel:"确定",
				cancelLabel:"取消",
				fromLabel:"从",
				toLabel:"到"
			}
		});
  });
  

$("#tapeListSearch").click(function(e){
	
 	searchTapeList();
 	

});

function searchTapeList(){
	var searchNickname = $("#searchNickname").val();
	var searchMobileNo = $("#searchMobileNo").val();
	var searchMtimeRange = $("#searchMtimeRange").val();
	var searchRealName = $("#searchRealName").val();
	var data = {"searchMobileNo":searchMobileNo
			,"searchNickname":searchNickname
			,"searchMtimeRange":searchMtimeRange
			,"searchRealName":searchRealName
			,"type":"searchTapeList"};
	$.ajax({
		type: "POST",
		url: '__APP__/Home/Tape/tapeList',
		data: data,
		dataType: 'json',
		success: function(dt) {	
	
			var show = dt.show;
			$("#pageUl").html(show);
			dt = dt.tapeList;
			var html = "";
			$.each(dt,function(k,v){

				var num = k + 1;//realname
				html += "<tr><td>"+num+"</td>";
				html += "<td>"+v.pc_call_time+"</td>";
				html += "<td>"+v.pc_user_name+"</td>";
				
				html += "<td>"+v.pc_caller_num+"</td>";
				html += "<td>"+v.pc_callee_num+"</td>";
				html += "<td>"+v.realname+"</td>";
				html += "<td>"+v.pc_direction+"</td>";
				//html += "<td><a target='__blank'  href='__APP__"+v.pc_vocfile+".mp3'>播放</a></td></tr>";
				html +='<td><a class ="openvocfile" data-ip="'+v.ip+'" data-cert="'+v.cert+'" data-nonce="'+v.nonce+'" data-msg ="'+v.msg+'" target="__blank" href="javascript:void(0);">播放</a></td>';
			});
			
			$("#tapeListTable").html(html);
			
			
			
		}
	
	});	
}


</script>
<script type="text/javascript">
	$("body").on('click','.openvocfile',function(){
		
		var msg = $(this).attr("data-msg");
		var cert = $(this).attr("data-cert");
		var nonce = $(this).attr("data-nonce");
		var ip = $(this).attr("data-ip");
		

		var src_url = "__APP__/Home/Tape/openTape?type=openTape"+"&msg="+msg+"&cert="+cert+"&nonce="+nonce+"&ip="+ip;
		$("#audio_id").attr("src",src_url);
		
		
		
	});


</script>


</block>