<extend name="Public::base"/>
<block name="headjs">
<style>
	.middleDiv{
		height: 34px;
		line-height: 34px;
		text-align: center;
	}
 	.form_datetime input{
		height: 34px;
		width:242.7px;
	} 
</style>

<link href="__PUBLIC__/css/bootstrap-datetimepicker.css" rel="stylesheet" />
</block>

<block name="body">

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">日志列表</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
            	
            	<div class="table-toolbar ">
            		<div class="row">
            			<div class="col-sm-9">
	            			<div class="row">
		            
			            		<div class = "col-sm-4">
			     	   	            <div class="search-box" >
				                		<div style="display: inline;">        			
				                			<span class="input-icon">
				                				<input type="text" value="{$searchNickname}" class="form-control" id="searchNickname" placeholder="请输入用户名">
				                				<i class="glyphicon glyphicon-search circular blue"></i>
				                			</span>
				                		</div>
				                	</div>	
			            		</div>
					   	          <div class="search-box col-sm-4" >
				                    <div class="form-group">
				                        <div class="controls">
				                            <div class="input-group">
				                                <span class="input-group-addon">
				                                    <i class="fa fa-calendar"></i>
				                                </span>
				                                <input type="text" value="{$searchTime}" class="form-control" id="searchTime" placeholder="请选择时间区间" />
				                            </div>
				                        </div>
				                    </div> 
			                	</div>	
			                	<div class="col-sm-2">
	          						<a class="btn default-btn" id="search" >查询</a>
			            		</div>
		            		</div>
		        
		            	</div>
          	
		            </div>
            	</div>
            
          		<table class="table table-striped table-hover table-bordered" id="editabledatatable">
                    <thead>
                        <tr role="row">
     
                            <th>
                            	序号
                            </th>
                            <th>
                            	用户名
                            </th>
                            <th>
                               	 操作时间
                            </th>
                            <th>
                                                                                                业务名称
                            </th>
                            <th>
                            	业务模块
                            </th>
                            <th>
                                                                                                 操作
                            </th>
                            	
     						<th>
     						参数
     						</th>
                        </tr>
                    </thead>

                    <tbody id="logListTable">
                    	<foreach name="logList" item="vo" key="key">
                        <tr>
            
                            <td>{$key+1}</td>
                            <td>{$vo.nickname}</td>
                            <td>{$vo.ctime}</td>
                            <td>{$vo.module}</td>
                            <td>{$vo.action}</td>
                            <td>{$vo.function}</td>
                            <td><abbr title={$vo.parameter}>{$vo.parameter|get30char}</abbr></td>
          
      
             
                        </tr>
                        </foreach>                        
                    </tbody>
                </table><br/>
                <div class="row DTTTFooter">
					<div class="col-sm-6">
						<div class="dataTables_info" id="simpledatatable_info" role="alert" aria-live="polite" aria-relevant="all"></div>
					</div>
					<div class="col-sm-8 pull-right">
						<div class="dataTables_paginate paging_bootstrap" id="simpledatatable_paginate">
							<ul class="pagination" id="pageUl">
								{$page}
							</ul>
						</div>
					</div>				
            	</div>
            </div>   	
        </div>
    </div>
</div>







</block>


<block name="footjs">
<!--Basic Scripts-->
<script src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/datetime/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/js/datetime/bootstrap-timepicker.js"></script>
<script src="__PUBLIC__/js/datetime/bootstrap-datetimepicker.js"></script>

<!--Beyond Scripts-->
<script src="__PUBLIC__/js/beyond.min.js"></script>
<script src="__PUBLIC__/js/datetime/moment.js"></script>
<script src="__PUBLIC__/js/datetime/daterangepicker.js"></script>
<script type="text/javascript">

$(function(){

	$(".form_datetime").datetimepicker({
	//	format:'yyyy-mm-dd-hh-ii-ss'
	});

	//$("#endTime").datetimepicker();	
	$("#searchTime").daterangepicker({
		format:"YYYY-MM-DD",
		separator : '__',
		locale:{
			applyLabel:"确定",
			cancelLabel:"取消",
			fromLabel:"从",
			toLabel:"到"
		}
	});
});

$("#search").click(function(){
	var searchNickname = $("#searchNickname").val();
	var searchModule = $("#searchModule").val();

	var startTime = $("#startTime").val();
	var endTime = $("#endTime").val();
	
	var data = {"searchNickname":searchNickname
			,"searchModule":searchModule
			,"startTime":startTime
			,"endTime":endTime
			,"type":"searchLog"};
	
	$.ajax({
		url:"__APP__/Home/Log/logList",
		type:"GET",
		data:data,
		dataType:'json',
		success:function(data){
			var html = "";
			var show = data.show;
			$("#pageUl").html(show);
			$.each(data.logList,function(k,v){
				//console.log(v);
				var num = k+1;
				if(v.parameter){
					var parameter =v.parameter.substr(0,30);
				}else{
					var parameter ="";
				}
				
				html += "<tr><td>"+num+"</td><td>"+v.nickname+"</td><td>"+v.ctime+"</td><td>"+v.module+"</td><td>"+v.action+"</td><td>"+v.function+"</td><td><abbr title="+v.parameter+">"+parameter+"</abbr></td></tr>"
			});
			
			$("#logListTable").html(html);
		}
		
	});	
	
});


</script>


</block>